__pycache__/
*.pyc
*.pyo
*.pyd
pretrained/*
data/*/*
data/biased_mnist/pickles/
!data/*/unique_tags_per_class.csv
!data/*/train_tags.csv
!data/*/relevant_tags/
!data/pickles/
!data/clusters/
/output/
/slurm/
/tmp/
