fairbench
gdown
matplotlib
numpy
ollama
pandas
Pillow
Requests
scikit_learn
scipy
torch
torchaudio
torchvision
tqdm
transformers==4.48.2
wandb
yacs
git+https://github.com/maniospas/recognize-anything-compatible-numpy-timm.git
tensorboard
fairscale
datasets
sentence_transformers
timm
pyts
lightly
kagglehub
flask
